[data-theme="sign"] {
  /* shadcn/ui vars */
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: var(--sign);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: var(--sign-100);
  --secondary-foreground: var(--sign-700);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: var(--error-500);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: var(--sign-500);
  --chart-1: var(--sign-500);
  --chart-2: var(--sign-400);
  --chart-3: var(--sign-300);
  --chart-4: var(--sign-200);
  --chart-5: var(--sign-100);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: var(--sign-500);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: var(--sign-500);

  /* Custom vars */
  --primary-25: var(--sign-25);
  --primary-50: var(--sign-50);
  --primary-100: var(--sign-100);
  --primary-200: var(--sign-200);
  --primary-300: var(--sign-300);
  --primary-400: var(--sign-400);
  --primary-500: var(--sign-500);
  --primary-600: var(--sign-600);
  --primary-700: var(--sign-700);
  --primary-800: var(--sign-800);
  --primary-900: var(--sign-900);
}

[data-theme="sign"].dark {
  /* shadcn/ui vars */
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: var(--sign);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: var(--sign-100);
  --secondary-foreground: var(--sign-700);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: var(--error-500);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: var(--sign-500);
  --chart-1: var(--sign-500);
  --chart-2: var(--sign-400);
  --chart-3: var(--sign-300);
  --chart-4: var(--sign-200);
  --chart-5: var(--sign-100);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: var(--sign-500);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: var(--sign-500);
}